*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

h1 a{
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 87px;
    
    color: #000000; 
}

section{
    margin-top: 200px;
}

.container{
    max-width: 2000px;
}

body{
    background-color: #F5F5F5;
}

.navbar .nav-wrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-wrapper h1 {
    position: absolute;
    width: 349px;
    height: 91px;
    left: 73px;
    top: 66px;

    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 87px;

    color: #000000;
}

.navbar .menu-wrapper{
    display: flex;
}

.navbar .menu-wrapper .menu {
    display: flex;
    position: absolute;
    width: 1400px;
    height: 73px;
    left: 0px;
    top: 217px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    gap: 83PX;
    color: #7B7070;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding-top: 20px;
    padding-left: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px 400px;
    /* background-color: #2196F3;
    padding: 20px; */
    padding-top: 150px;
    padding-left: 100px;
    }

.grid-container-act{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px 400px;
    /* background-color: #2196F3;
    padding: 20px; */
    padding-top: 300px;
    padding-left: 100px;
}

.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

a.menu-link{
    font-family: 'Lato',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 29px;
/* identical to box height */

position: relative;
color: #7B7070;
}

a.menu-link:hover{
 color: #000000;   
}

h2{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 38px;
    
    color: #000000;
}

img{
    border-radius: 10px;
}

.logo{
    position: relative;
width: 349px;
height: 91px;
left: 73px;
top: 66px;

font-family: 'Prata';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 87px;

color: #000000;
}

button{
    position: relative;
width: 494px;
height: 66px;
left: 655px;
top: 11px;

background: #E9ECED;
border-radius: 10px;
border: 0;

text-align: left;
padding-left: 40px;
padding-bottom: 20px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;

color: #969E9E;
}

button img{
    position: relative;
width: 49px;
height: 49px;
left: 279px;
top: 9px;
}



h4{
text-align: center;
font-family: 'Monda';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;
/* identical to box height */


color: #000000;
}

.content h2{
    position: relative;
width: 720px;
height: 24px;
left: 88px;
top: 80px;

font-family: 'Anonymous Pro', monospace;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
/* identical to box height */


color: #000000;
}

.grid-item.tour h4{
    font-family: 'Monda', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 36px;
/* identical to box height */


color: #000000;

}

button.act{
    position: relative;
width: 494px;
height: 66px;
left: 725px;
top: 75px;

background: #E9ECED;
border-radius: 10px;
border: 0;

text-align: left;
padding-left: 40px;
padding-bottom: 20px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;

color: #969E9E;
}
